@CHARSET "UTF-8";

.main-contents {
	margin: 100px 450px 10px 400px;
	background: #dcefff;
}

.main-contents .box-title {
	font-size: 1.2em;
	background: #5fb3f5;
	padding: 4px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.contents {
	padding: 0px 40px 40px 160px;
}

.loginLink {
	margin: 10px 40px 40px 10xp
}

.errorMessages {
	color: #ff0000; /* 全体の文字色 */
}

.copyright {
	margin: 100px 450px 10px 550px;
}