@CHARSET "UTF-8";

body {
	margin: 50px 100px 100px 150px;
	padding: 0;
	background-color: #e4e4e4; /* ページの背景色 */
	color: #000000; /* 全体の文字色 */
	font-size: 100%; /* 全体の文字サイズ */
}

.title {
	
	margin: -50px 10px 30px -100px;
	background-color: #000040; /* ヘッダの背景色 */
	font-size: 250%; /* 全体の文字サイズ */
	color: #ffffff; /* 全体の文字色 */
}


table, th, td {
	border-collapse: collapse;
	border: 1px solid #ccc;
	line-height: 1.5;
}

table.users th {
	width: 100px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	background: #0000a0;
	color: #ffffff;
}

table.users td {
	width: 150px;
	padding: 10px;
	vertical-align: top;
}

.parameter {
	margin: 0px 5px 0px 55px;
}

.loginPara {
	margin: 0px 5px 0px 40px;
}

.edit {
	margin: 0px 5px 0px 55px;
}

.link {
	margin: 8px 1px 15px 1px;
}

.errorMessages {
	color: #ff0000; /* 全体の文字色 */
}