@CHARSET "UTF-8";

body {
	margin: 50px 100px 100px 100px;
	padding: 0;
	background-color: #e4e4e4; /* ページの背景色 */
	color: #000000; /* 全体の文字色 */
	font-size: 100%; /* 全体の文字サイズ */
}

#header {
	margin: -50px 10px 30px -100px;
	background-color: #000040; /* ヘッダの背景色 */
	font-size: 250%; /* 全体の文字サイズ */
	color: #ffffff; /* 全体の文字色 */
}

.form-area {
	background-color: #ffffff; /* ページの背景色 */
}

.link {
	margin: 8px 1px 8px 1px;
}

.errorMessages {
	color: #ff0000; /* 全体の文字色 */
}

#hooter {
	margin: 10px 10px 10px 500px;
}

#tooltip li {
	position: relative;
}

.tooltips {
	display: block;
	position: absolute;
	bottom: -2.8em;
	left: 0.3em;
	z-index: 9999;
	width: auto;
	height: auto;
	padding: 0.3em 0.5em;
	color: #FFFFFF;
	background: #c72439;
	border-radius: 0.5em;
}
