@CHARSET "UTF-8";

body {
	margin: 50px 250px 100px -350px;
	padding: 0;
	background-color: #dfdfdf; /* ページの背景色 */
	color: #000000; /* 全体の文字色 */
	font-size: 120%; /* 全体の文字サイズ */
}

.header {
	font-size: 150%;
}

.main-contents {
	padding: 0.5em 1em;
	margin: 100px 100px 0px 600px;
	color: #000040;
	background: #ffffff;
	border-top: solid 5px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.link {
	margin: 1px 1px -10px 1px;
}

.errorMessages {
	color: #ff0000; /* 全体の文字色 */
}

#login_id {
	margin: 0px 350px 0px 0px;
}

#password {
	margin: 0px 350px 0px 0px;
}

#passwordConfirm {
	margin: 0px 350px 0px 0px;
}

#name {
	margin: 0px 350px 0px 0px;
}

#branch_id {
	margin: 0px 350px 0px 0px;
}

#position_id {
	margin: 0px 350px 0px 0px;
}


