@CHARSET "UTF-8";

/* --- 全体の背景・テキスト --- */
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff; /* ページの背景色 */
	color: #000000; /* 全体の文字色 */
	font-size: 100%; /* 全体の文字サイズ */
}

/* --- 全体のリンクテキスト --- */
a:link {
	color: #0000ff;
}

a:visited {
	color: #800080;
}

a:hover {
	color: #ff0000;
}

a:active {
	color: #ff0000;
}


/* --- ヘッダ --- */
#header {
	margin: 0px 10px 30px 50px;
	background-color: #000040; /* ヘッダの背景色 */
	font-size: 250%; /* 全体の文字サイズ */
	color: #ffffff; /* 全体の文字色 */
}

.content {
	margin: 0px 20px 20px 70px;
}

.errorMessages {
	color: #ff0000; /* 全体の文字色 */
}

.title {
	font-size: 150%;
}

#acMenu dd{
	display: none;
	margin: -5px 10px 10px 10px;
}


.category {
	font-size: 80%; /* 全体の文字サイズ */
	color: #808080; /* 全体の文字色 */
}

.contributions {
	margin: 10px 10px 10px 1px;
}

.comment {
	padding: 0.5em; /*文字周りの余白*/
	color: #010101; /*文字色*/
	background: #ffffff; /*背景色*/
	border-bottom: solid 3px #004000; /*下線*/
}

.box2 {
	padding: 0.5em 1em;
	margin: 2em 0;
	font-weight: bold;
	color: #000000; /*文字色*/
	background: #FFF;
	border: solid 3px #6091d3; /*線*/
	border-radius: 10px; /*角の丸み*/
}

.box2 p {
	margin: 0;
	padding: 10px 10px 10px 100px;;
	/* --- フッタ --- */ # footer { clear : left; /* フロートのクリア */
	width: 100%;
	background-color: #ffe080; /* フッタの背景色 */
}


